# Pycache

**/__pycache__

# Secrets

.env

# Editor Settings

.vscode

# Images Folder
img

# Data Folder
data

# Credentials  (Google Calendar API)
token.json
credentials.json

# ngrok
ngrok.exe

# Github Credentials
github_private_key.pem

# Extension files
node_modules
venv
package-lock.json
package.json
extension.js
*.vsix